data/*
!data/processed/
data/processed/OLD/
data/processed/*.zip
data/processed/fixed_negative/
models/
ref/**/*.pdf
ref/*.pdf
scratch/
data/processed/*.npy
**/__pycache__/
.ipynb_checkpoints/
figures/bert_shape_cnn/
figures/bert_shape_cnn2/
figures/check/